body {
/*    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
}
a:link {
  color: #3488db;
}
a:visited {
  color: #3488db;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
a:active {
  color: #3488db;
} 
a.btn, a.dropdown-item{
  color: #fff !important;
}
text{
  color: #aaa;
}
table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.navbar{
	border: 0px !important;
	border-bottom: 1px solid #3488db !important;
}	
.navbar .nav-link {
	padding: 0.6rem 1rem;
}
.navbar-nav>li>a.profile-image {
  padding-top: 3px;
  padding-bottom: 5px;
}
.navbar-brand{
	border-right: 0px !important;
	padding: 0px !important;
}
#Email, #Fname {
  background-color:#272B30 !important;
}
label.btn, .btn{
  background-color:#272B30 !important;
  border-radius: 0.1rem !important;
}
.chatbox>input{
background-color:#272B30 !important;
color: #aaa !important;
border: 1px solid #3488db !important;
border-radius: 0.1rem !important;
}
input, textarea, select{
background-color:#272B30 !important;
color: #aaa !important;
border: 1px solid #000 !important;
border-radius: 0.1rem !important;
}
.btn-outline-success{
    color: #3488db !important;
} 
.btn-success{
	background-image: linear-gradient(#3488dbc7, #3488db 60%, #3488dbb0) !important;
	color: #fff !important;
}
.btn-success:hover{
	background-image: linear-gradient(#3488db, #3488db, #3488db) !important;
	color: #fff !important;
}
::-webkit-input-placeholder { /* WebKit browsers */
  color: #aaa !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #aaa !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #aaa !important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #aaa !important;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aaa !important;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #aaa !important;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #3488db;
  border-width: 1px 0;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.card-cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 260px;
  height: 1.35em;
  white-space: nowrap;
}

.index-live-title {
    font-size:1.35em;
    width: 100%;
    color: #fff;
}

.index-video-title {
    font-size:1.35em;
    width: 100%;
    color: #fff;
}

.displayCard {
    width: 600px;
    margin-bottom:15px;
}

.displayCard a {
}

.displayCard img {
    width: 310px;
    height: 175px;
    object-fit: contain;
    overflow: hidden;
    background-color: black;
    float: left;
}

.displayCard .card-data {
    margin-left:15px;
    float: left;
    font-size:1em;
}

.displayCard .card-data .displayCard-footer {
    font-size:1em;
    position:relative;
    left: -10px;
    top: 45px;
}

.displayCard-other {
    width: 600px;
    margin-bottom:15px;
}

.displayCard-other a {
}

.displayCard-other img {
    width: 275px;
    height: 155px;
    object-fit: contain;
    overflow: hidden;
    background-color: black;
    float: left;
}

.displayCard-other .card-data {
    margin-left:18px;
    float: left;
    font-size:1em;
}

.displayCard-other .card-data .displayCard-footer {
    font-size:1em;
    position:relative;
    left: -10px;
    top: 40px;
}

.streamerCard {
    width: 600px;
    margin-bottom:15px;
}

.streamerCard a {
}

.streamerCard img {
    width: 175px;
    height: 175px;
    object-fit: contain;
    overflow: hidden;
    background-color: black;
    float: left;
}

.streamerCard .card-data {
    margin-left:15px;
    float: left;
    font-size:1em;
}

.streamerCard .card-data .streamerCard-footer {
    font-size:1em;
    position:relative;
    left: -10px;
    top: 45px;
}
.video-card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    line-height: 2em !important;
    word-wrap: break-word;
    margin: 15px;
}
.video-card-header{
  margin-bottom: 0px
}
.video-card-body{
    padding: 0.5rem 0rem 0.5rem 0rem;
    flex: 1 1 auto;
    line-height: 1.5em;
}
.channel-card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    line-height: 2em !important;
    word-wrap: break-word;
    margin: 15px;
}
.channel-card-header{
  margin-bottom: 0px
}
.channel-card-body{
    padding: 0.5rem 0rem 0.5rem 0rem;
    flex: 1 1 auto;
    line-height: 1.5em;
}
.recordedStream {
    width:99%;
    display:block;
}
.video-buttons-row {
    width: 100%;
}

.comment {
    width:100%;
}
.comment p{
    white-space: pre-wrap;
    margin-top: 1rem;
}

.comment img{
    margin-top: 1rem;
}
.videodescription p{
    white-space: pre-wrap;
}
.viewerText p{
    white-space: pre-wrap;
}

.videoStream {
        width:100%;
    }

.chat {
    scrollbar-color: #1b1e22 #272b30;
    scrollbar-width: thin;
    overflow-y: auto;
    overflow-x: hidden;
    height: 75vh;
    padding: 5px 5px 5px 5px;
    width:100%;
}

.chatpopout {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: #1b1e22 #272b30;
    scrollbar-width: thin;
    padding: 5px 5px 5px 5px;
    max-height: calc(100vh - 150px);
}

.chatBar-Item {
    border: 0px solid black;
    border-radius: 4px;
    padding-top: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
    padding-right: 4px;
    margin-top: 5px;
    min-height: 60px;
}

.charBar-Item-Image {
    float:left;
}

.chatBar-Item-Text {
    position:relative;
    left:20px;
    color:white;
    word-wrap: break-word;
    width:82%;
    display:inline-block;
}

.chatbox {
    height: 540px;
    width:425px;
}

.chatbox textarea {
    resize: none;
}

#chatside {
    border-left: 1px solid #eeeeee;
    width:475px;
}

.chatbox-popout {
    height:100%;
    width:100%;
    margin-top: 10px;
    margin-bottom: 50px;
}

.chat-popout-bottom {
    height:100px;
    position: fixed;
    display: block;
    bottom:25px;
    width:96%;
}

.streamcard-overlay {
  position:relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.stream-image-overlay-text{
    margin-left:10px;
    margin-top:10px;
    text-shadow: 1px 1px 2px #000000;
    color:white;
    position: relative;
    top:-210px;
    left:3px;
}

#videoWindow {
    display: flex;
    justify-content: center;
    max-height:90vh;
    overflow-y: auto;
    scrollbar-color: #1b1e22 #272b30;
    scrollbar-width: thin;
}

.videoPanel{
    width: 100%;
}

.search {
    -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
    border-radius: 20px; /* (height/2) + border-width */
    border-style: none !important;
	border-width: 0px;
    color: #333;
    background-color: #3A3F44 !important;
    -webkit-appearance: none;
	-moz-appearance: none;
}

@media all and (min-width: 2350px) {
   .videoPanel {
     width: 1850px;
   }
}

.videoPanel::-webkit-scrollbar {
    width: 0 !important
}

/* .videoPanel{ overflow: -moz-scrollbars-none; }
.videoPanel{ -ms-overflow-style: none; } */

.liveindicator{
	margin-left: 10px;
}

.stream-title{
  color: #fff;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.video-card-body .video-title a, .card-header .video-title a{
  color: #fff;
}

.dropzone {
    display: none;
}

.toast {
    background: #272B30;
    color: #aaa;
    border: 1px solid #3488db
}
.toast-header{
    background-color: unset;
}
.toast-body{
    font-size: 1.2em;
}

.nav-tabs{
	border: 0px !important;
}
.nav-tabs .nav-link{
	border-top-left-radius: 0rem !important;
	border-top-right-radius: 0rem !important;
	border-left: 1px #ccc !important;
	border-right: 0px !important;
	border-top: 0px !important;
	border-bottom: 0px !important;
	display: inline !important;
	padding-left:1rem !important;
	padding-right:1rem !important;
	padding-top:0rem !important;
	padding-bottom:0rem !important;
}
#channelPlayerMenu{
	margin-top: 5px;
}
#channel-tab.nav-link:hover, #channel-tab.nav-link:focus, #channel-tab.nav-link.active{
	border-color: #3488db !important;
	border-bottom: 1px solid #3488db !important;
}
#videos-tab.nav-link:hover, #videos-tab.nav-link:focus, #videos-tab.nav-link.active{
	border-color: #3488db !important;
	border-bottom: 1px solid #3488db !important;
}
#clips-tab.nav-link:hover, #clips-tab.nav-link:focus, #clips-tab.nav-link.active{
	border-color: #3488db !important;
	border-bottom: 1px solid #3488db !important;
}
.channel-img {
    width:100%;
    object-fit: contain;
    max-height:150px;
    overflow:hidden;
    background-color:black;
}
@media screen and (min-width : 992px) and (max-width : 1854px) {
    .displayCard-other .card-data {
        margin-left:0px;
        float:left;
    }
    .displayCard-other .card-data .displayCard-footer {
        top: initial;
        font-size:1em;
    }


}

@media screen and (max-width : 640px) {

    .card-cut-text {
      text-overflow: ellipsis;
      overflow: hidden;
      width: 360px;
      height: 1.35em;
      white-space: nowrap;
    }

    .displayCard {
        width: 100%;
        height: initial;
        margin-bottom: 5px;
    }

    .displayCard img{
        width: 100%;
        height: initial;
    }

    .displayCard .card-data {
        margin-left:0px;
        float: left;
        font-size:1em;
    }
    .displayCard .card-data .displayCard-footer {
        font-size:1em;
        top: initial;
    }

    .displayCard-other {
        width: 100%;
        height: initial;
        margin-bottom: 5px;
    }

    .displayCard-other img{
        width: 100%;
        height: initial;
    }

    .displayCard-other .card-data {
        margin-left:0px;
        float: left;
        font-size:1em;
    }
    .displayCard-other .card-data .displayCard-footer {
        font-size:1em;
        top: initial;
    }
    
    .streamerCard {
        width: 100%;
        height: initial;
        margin-bottom: 5px;
    }

    .streamerCard img{
        width: 100%;
        height: initial;
    }

    .streamerCard .card-data {
        margin-left:0px;
        float: left;
        font-size:1em;
    }
    .streamerCard .card-data .streamerCard-footer {
        font-size:1em;
        top: initial;
    }

}